fastapi==0.124.0
python-multipart==0.0.20
soundfile==0.13.1
numpy
openai-whisper
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0+cpu
torchaudio==2.8.0+cpu
f5-tts==1.1.20
uvicorn[standard]==0.38.0
